body {
  background:linear-gradient(to right, #ff0000, #0000ff);
  font-family:'helvetica';
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;

}
h1 {
  background: linear-gradient(to left, #ff0000, #0000ff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size:6vw;
}

h3 {
  color:white;
  mix-blend-mode : difference;
}

#color1 {
  opacity:0;
}

.circle{
  position:relative;
  background-color:black;
  height:10vw;
  width:10vw;
  border-radius:50%;
  margin:2vw;
}

.colorPicker {
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  z-index : 10;
  opacity:0;

}
